= stylesheet_link_tag "style"
= stylesheet_link_tag "content"

- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.loadingOff();
      ShopifyApp.Bar.initialize({
        title: "Login",
        icon: "#{asset_path('Logo_small.png')}"
      });
    });
.container
  .row{:style => "padding-top: 20px;"}
    .jumbotron.login-content
      .h4 Connect your Jurnal account to get started
      .center-item.login-picture
        %img{:src => "#{asset_path('connect-image-jurnal.png')}"}
      .center-item
        No changes will be made to your Jurnal account until setup is complete
  .row
    .login-content
      %a{:href => ENV["AUTH_PATH"], :class => "btn btn-info", :target => "_parent"} Connect with Jurnal
  .row
    .login-content.center-item
      =link_to("Don't have an account? Register now for 14-days free trial", "https://my.jurnal.id/en/users/sign_up", :target => "_blank")

=render "footer"