= stylesheet_link_tag "style"
= stylesheet_link_tag "content"

- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.loadingOff();
      ShopifyApp.Bar.initialize({
        title: "First Time Configuration",
        icon: "#{asset_path('Logo_small.png')}"
      });
    });
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })

    $("#feature-text").click(function(event) {
      $("#feature_modal").modal('show');
    });

    $("#close_feature_modal").click(function(event) {
      $("#feature_modal").modal('hide');
    });

    $("#confirm_feature").click(function(){
      $("#feature_modal").modal('hide');
    });

    window.onclick = function(event) {
      if (event.target == $("#feature_modal")) {
        $("#feature_modal").modal('hide');
      }
    }

.body
  .content
    .container
      .row
        .col-xs-6
          %form{:role => "form", :name => "configForm", :action => "#{shops_path}", :method => "POST", :onsubmit => "ShopifyApp.Bar.loadingOn()"}
            .row
              .col-xs-8
                .form-group
                  %label{:for => "name"}Company Name
                  %i{:class => "fa fa-question-circle-o", "data-toggle" => "tooltip", "data-placement" => "right", :title => "Your Jurnal's company name"}
                  %input{:class => "form-control", :type => "text", :name => "name", :placeholder => "Your Company Name"}
              
            .row
              .col-xs-12
                %small Sync All Data From Beginning:
                %input{:type => "checkbox", :name => "sync", :value => "true"}
                %i{:class => "fa fa-question-circle-o", "data-toggle" => "tooltip", "data-placement" => "right", :title => "Sync all your shop's data to Jurnal"}
            %br
            %br
            .row
              .col-xs-4
              .col-xs-3
                = button_tag "Complete Setup", data: {disable_with: "Processing.."}, class: "btn btn-success"

            = hidden_field_tag :authenticity_token, form_authenticity_token
            = hidden_field_tag :shop, "#{ShopifyApp::SessionRepository.retrieve(session[:shopify]).url}"
            = hidden_field_tag :shop_token, "#{ShopifyApp::SessionRepository.retrieve(session[:shopify]).token}"

    %br
    .container
      .row
        .col-xs-7
          .panel{:class => "panel-warning"}
            .panel-heading
              .h4
                %font{:color => "black"} Notice 
            .panel-body
              .row
                .col-xs-12
                  .h5 This application is for syncing your shopify data to your Jurnal company in real-time (i.e. every change made in your shopify store will be directly forwarded to your Jurnal company).
                  .small
                    %a#feature-text{"data-target"=>"#feature_modal"} 
                      Features list

.modal.fade#feature_modal
  .modal-dialog
    .modal-content
      .modal-header
        .pull-right
          %button#close_feature_modal{:class => "close"} x
        .h4 Features List
      .modal-body
        %table{:class => "table table-hover"}
          %tbody
            %tr
              %td 
              %td.feature-content Pro or Enterprise
              %td.feature-content Starter
            %tr
              %td Sync customers to customers
              %td.feature-content
                %i{:class => "fa fa-check"}
              %td.feature-content
                %i{:class => "fa fa-check"}
            %tr
              %td 
                Sync products to products
              %td.feature-content
                %i{:class => "fa fa-check"}
              %td.feature-content
                %i{:class => "fa fa-check"}
            %tr
              %td#sub-feature 
                Product Category
              %td.feature-content
                %i{:class => "fa fa-check"}
              %td.feature-content
                %i{:class => "fa fa-times"}
            %tr#sub-feature
              %td#sub-feature
                Product Tracking
              %td.feature-content
                %i{:class => "fa fa-check"}
              %td.feature-content
                %i{:class => "fa fa-times"}
            %tr
              %td Sync orders to sales invoices
              %td.feature-content
                %i{:class => "fa fa-check"}
              %td.feature-content
                %i{:class => "fa fa-check"}
              

      .modal-footer
        .text-center
          = button_tag "Got it!", :class => "btn-success", :id => "confirm_feature"
                  

=render "footer"