= stylesheet_link_tag "style"
= stylesheet_link_tag "content"

- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.loadingOff();
      ShopifyApp.Bar.initialize({
        title: "Loading",
        icon: "#{asset_path('Logo_small.png')}"
      });
    });

%head
  -if @authorized
    %meta{"http-equiv" => "refresh", :content => "3;URL=#{setting_shop_path(@shop)}"}
  -else
    %meta{"http-equiv" => "refresh", :content => "3;URL=#{login_shop_path(@shop)}"}

%h4 Please wait a moment...